.content-panel {
    .content-section {
        .nav-list {
            display: flex;
            padding-left: 5%;
            gap: 1rem;
            flex-wrap: wrap;

            .nav-item {
                &:hover {
                    .bnt-play,
                    .bnt-add {
                        display: block;
                    }
                }
                &__container {
                    position: relative;
                    display: inline-block;
                    display: flex;
                    text-align: center;
                    align-items: center;

                    .img {
                        display: block;
                        height: auto;
                        height: 155px;
                        width: 155px;
                        border-radius: 1rem;
                    }

                    .bnt-play {
                        display: none;
                        position: absolute;
                        bottom: 5%;
                        left: 5%;
                        width: fit-content;
                        border: none;
                        font-size: 1rem;
                        padding: 0.6rem 2.3rem;
                        background: rgb(28, 15, 214);
                        color: white;
                        border-radius: 10px;
                        font-weight: 400;
                        cursor: pointer;

                        &:hover {
                            background: orange;
                        }
                    }

                    .bnt-add {
                        display: none;
                        position: absolute;
                        bottom: 10%;
                        right: 5%;
                        cursor: pointer;
                        border: none;
                        padding: 0.3rem 0.7rem;
                        border-radius: 10px;

                        &:hover {
                            background: orange;
                        }
                    }

                }


            }
        }
    }
}