@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*background: linear-gradient(to right, #16151B, #1A1A24, #1B1E27);*/
  background: linear-gradient(135deg, #000000, #4b0082 50%, #000000 100%);
  color: white;
  min-height: 100vh;
  width: auto;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden; /* Adiciona esta linha para evitar rolagem horizontal */
}

.cabecalho {
  margin-left: 3%;
  text-align: center;
  align-items: center;
}
.cabecalho__imagem__logo {
  height: 60px;
  width: 80px;
}
.cabecalho__logo {
  text-align: center;
  align-items: center;
  font-size: 20px;
  text-transform: uppercase;
  gap: 1.1rem;
  color: white;
  display: block;
}
.cabecalho__navbar {
  margin: 0 22% 0 5%;
}
.cabecalho__navbar-lista {
  display: none;
  justify-content: space-between;
  gap: 8%;
  text-wrap: nowrap;
  list-style: none;
}
.cabecalho__navbar__link {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.cabecalho__navbar__link:hover {
  color: orange;
}

.botoes {
  text-align: center;
  align-items: center;
  gap: 1rem;
}

.botao {
  text-align: center;
  align-items: center;
  gap: 0.4rem;
  text-decoration: none;
  color: white;
  border: 2px solid;
  border-radius: 14px;
  padding: 0.4rem;
}
.botao.idioma {
  border-color: transparent;
}
.botao.idioma:hover {
  border-color: white;
}
.botao__entrar {
  font-size: 0.7rem;
  padding: 0.3rem;
  background: rgb(85, 85, 242);
  border-color: rgb(85, 85, 242);
}
.botao__entrar:hover {
  border-color: white;
  font-size: 1.5rem;
  color: rgb(105, 29, 105);
}

.bandeira-brasil {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 520px) {
  .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cabecalho__logo {
    display: none;
  }
  .cabecalho__navbar {
    display: flex;
    position: relative;
    gap: 1rem;
    margin: 4% 7% 0 0;
    text-align: center;
    align-items: center;
  }
  .cabecalho__navbar__botoes__idioma {
    display: none;
  }
  .cabecalho__navbar__botoes__entrar {
    font-size: 1rem;
    padding: 0.7rem 0.8rem;
    background: rgb(103, 103, 220);
    border-color: rgb(85, 85, 242);
    text-decoration: none;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
    font-family: "Montserrat sans,serif";
  }
  .cabecalho__navbar__botoes__entrar:hover {
    border-color: white;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  .cabecalho__navbar__botao {
    display: none;
  }
  .cabecalho__navbar__rotulo {
    cursor: pointer;
    position: relative;
    z-index: 10;
  }
  .cabecalho__navbar__rotulo .cabecalho__navbar__rotulo-menu-humburguer {
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .cabecalho__navbar-lista {
    display: none;
    position: absolute;
    top: 200%;
    right: 0;
    background: #444;
    border-radius: 5px;
    z-index: 10000;
  }
  .cabecalho__navbar-lista-icone {
    display: none;
  }
  .cabecalho__navbar-lista__link {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
  }
  .cabecalho__navbar-lista__link:hover {
    background: #555;
  }
  .cabecalho__navbar__botao:checked ~ .cabecalho__navbar-lista {
    display: block;
  }
  .cabecalho__navbar__botao:checked ~ .cabecalho__navbar__rotulo .cabecalho__navbar__rotulo-menu-humburguer rect:nth-of-type(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  .cabecalho__navbar__botao:checked ~ .cabecalho__navbar__rotulo .cabecalho__navbar__rotulo-menu-humburguer rect:nth-of-type(2) {
    display: none;
  }
  .cabecalho__navbar__botao:checked ~ .cabecalho__navbar__rotulo .cabecalho__navbar__rotulo-menu-humburguer rect:nth-of-type(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
@keyframes slide-down {
  0% {
    top: -100%;
    opacity: 0;
  }
  100% {
    top: calc(100% + 1rem);
    opacity: 1;
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-60px);
  }
  60% {
    transform: translateY(-40px);
  }
}
.principal {
  display: flex;
  align-items: center;
}
.principal__container {
  margin: 0% 11% 0% 7%;
  display: flex;
  flex-direction: column;
}
.principal__caixa {
  position: relative;
  display: flex;
  flex-direction: column;
}
.principal__caixa__texto {
  font-size: 1.7rem;
}
.principal__caixa__popup-container {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  display: flex;
  background-color: transparent;
  z-index: 1000;
  opacity: 0; /* Inicialmente invisível */
  transition: opacity 1s ease-in-out;
}
.principal__caixa__popup-container.show {
  animation: slide-down 1s ease-in-out forwards, bounce 3s 0.4s ease-in-out;
}
.principal__caixa__popup-container__conteudo {
  background-color: #fff;
  padding: 0.7rem;
  border-radius: 10px;
}
.principal__caixa__popup-container__conteudo h1 {
  font-size: 2.2rem;
  color: black;
  font-weight: 700;
}
.principal__sublinhados {
  display: flex;
  margin: 11rem 0 3rem 0;
  gap: 1.5rem;
}
.principal__sublinhados__texto {
  display: flex;
  flex-wrap: wrap;
  text-wrap: wrap;
  font-size: 1.1srem;
  border-left: 5px solid orange;
  padding: 1rem 0.8rem;
  align-items: center;
  background: linear-gradient(to right, rgba(255, 165, 0, 0.8), rgba(255, 165, 0, 0) 100%);
  color: #fff;
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.principal__precos {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.principal__precos__subtitulo {
  font-size: 1.5rem;
  font-weight: 700;
}
.principal__precos__subtitulo__destaque {
  font-size: 1.8rem;
}
.principal__precos__texto {
  font-size: 14px;
}
.principal__botao {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
}
.principal__botao-link {
  text-decoration: none;
  color: white;
  border: 2px solid linear-gradient(to right, #f4855d, #4b0082);
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 13px;
  background: linear-gradient(to right, #f4855d, #4b0082);
}
.principal__botao-link:hover {
  background: linear-gradient(to right, #4b0082, #f4855d);
  font-size: 1.2rem;
}
.principal__segundo__container {
  display: flex;
  align-items: center;
  text-align: center;
}
.principal__segundo__container__imagem {
  height: 500px;
  width: 500px;
  margin-right: 17%;
  border-radius: 1.2rem;
}

@media screen and (min-width: 0px) and (max-width: 520px) {
  .principal {
    gap: 1rem;
    flex-direction: column;
    margin-top: 10%;
    font-family: "Montserrat", sans-serif;
  }
  .principal__caixa {
    position: relative;
    text-align: start;
  }
  .principal__caixa__texto {
    font-size: 1.2rem;
    padding-right: 0.2rem;
  }
  .principal__caixa__popup-container {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    background-color: none;
    z-index: 1000;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 1s ease-in-out;
  }
  .principal__caixa__popup-container.show {
    animation: slide-down 1s ease-in-out forwards, bounce 3s 0.4s ease-in-out;
  }
  .principal__caixa__popup-container__conteudo {
    background: none !important;
    border-radius: 10px;
    text-wrap: wrap;
    margin: -0.7rem;
  }
  .principal__caixa__popup-container__conteudo h2 {
    font-size: 1.6rem;
    color: white;
    font-weight: 800;
    text-wrap: wrap;
    font-family: "Montserrat", sans-serif;
  }
  .principal__sublinhados {
    margin: 7rem 4rem 1rem 0;
    gap: 1.8rem;
  }
  .principal__sublinhados__texto {
    text-align: start;
    flex-wrap: wrap;
    text-wrap: wrap;
    font-size: 0.8rem;
    border-left: 4px solid orange;
    padding: 0.4rem 1rem 0.7rem 0.4rem;
    background: linear-gradient(to right, rgba(207, 189, 155, 0.8), rgba(255, 165, 0, 0) 100%);
    color: #fff;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }
  .principal__precos {
    gap: 0.5rem;
    text-align: start;
  }
  .principal__precos__subtitulo {
    font-size: 1.2rem;
    font-weight: 700;
    text-wrap: wrap;
  }
  .principal__precos__subtitulo__destaque {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .principal__precos__texto {
    font-size: 0.8rem;
    color: rgb(148, 141, 141);
  }
  .principal__segundo__container {
    margin-top: 0.5rem;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 1rem;
  }
  .principal__segundo__container__botao {
    margin: 0.7rem;
  }
  .principal__segundo__container__botao-link {
    text-decoration: none;
    color: white;
    border: 2px solid linear-gradient(to right, #f4855d, #4b0082);
    padding: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 13px;
    background: linear-gradient(to right, #FF7F50, #8A2BE2);
  }
  .principal__segundo__container__botao-link:hover {
    background: linear-gradient(to right, #8A2BE2, #FF7F50);
    font-size: 1.3rem;
  }
  .principal__segundo__container__imagem {
    width: 100%; /* Garante que a imagem ocupe 100% da largura do contêiner */
    max-width: 330px; /* Limita o tamanho máximo da imagem */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 1.2rem;
    margin: 0 auto; /* Centraliza a imagem */
    -o-object-fit: cover;
       object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorção */
  }
}
.segunda__sessao__titulo {
  font-size: 1.3rem;
  margin: 4rem 0 3rem 0;
  font-weight: 700;
}
.segunda__sessao-imagem {
  width: 320px;
  height: 240x;
  border-radius: 10px;
}
.segunda__sessao-cards {
  margin-top: 3.5rem;
}
.segunda__sessao-cards__lista {
  display: flex;
  flex-direction: column;
}
.segunda__sessao-cards__lista__itens {
  display: flex;
  margin: 0.8rem;
  text-align: center;
  align-items: start;
  color: rgb(172, 157, 157);
  /* Adicionando animação para aparecer da direita para a esquerda */
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.segunda__sessao-cards__lista__itens.mostrar {
  opacity: 1;
  transform: translateX(0);
}
.segunda__sessao-cards__lista__itens__imagem {
  width: 50px;
  height: 50px;
  padding-right: 1rem;
}
.segunda__sessao-cards__lista__itens__container {
  display: flex;
  text-align: start;
  flex-direction: column;
  gap: 1rem;
}
.segunda__sessao-cards__lista__itens__container__titulo {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.segunda__sessao-cards__lista__itens__container__texto {
  font-size: 0.8rem;
}
.segunda__sessao-cards__lista__itens__container__imagens {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.segunda__sessao-cards__lista__itens__container__imagens__imagem {
  height: 1.2rem;
  width: 1.2rem;
  background-color: white;
  border-radius: 1rem;
  margin-right: 0.5rem;
}
.segunda__sessao-cards__lista__itens__container__imagens__texto {
  font-size: 0.7rem;
  color: white;
}
.segunda__sessao-cards__lista__itens__container__descricao {
  font-size: 0.8rem;
}

.display {
  display: none;
}

.terceira__sessao {
  margin: 35% 0 30% 0;
  align-items: center;
  text-align: center;
}
.terceira__sessao__titulo {
  margin: 4rem 0 5rem 0;
  font-size: 1.3rem;
  font-weight: 700;
  opacity: 0; /* Inicialmente invisível */
  transform: translateY(-20px); /* Posicionado levemente acima */
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.terceira__sessao__titulo.show {
  opacity: 1; /* Visível */
  transform: translateY(0); /* Posição final */
}
.terceira__sessao-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-right: 1.6rem;
  gap: 2rem;
}
.terceira__sessao-cards__itens {
  display: flex;
  text-align: start;
  font-size: 1rem;
  align-items: center;
  padding: 0.5rem;
}
.terceira__sessao-cards__itens-imagem {
  width: 130px;
  height: 90px;
  margin: -1rem;
}
.terceira__sessao-cards__itens__texto {
  font-size: 0.7rem;
  color: gray;
}
.terceira__sessao-cards__itens__titulo {
  color: white;
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.quarta__sessao__textos {
  margin: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.quarta__sessao__textos__titulo {
  font-size: 1.2rem;
  font-weight: 700;
}
.quarta__sessao__textos__texto {
  font-size: 0.8rem;
}
.quarta__sessao__imagem {
  width: 80%;
  height: 35%;
  margin-bottom: 1rem;
}
.quarta__sessao__listas__texto {
  margin: 1rem 1rem 1rem 2.2rem;
  font-size: 0.8rem;
  text-align: initial;
  font-weight: 600;
}
.quarta__sessao__segunda-div {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.9rem;
  color: rgb(148, 141, 141);
}
.quarta__sessao__segunda-div__imagem {
  width: 60%;
  height: 35%;
  margin-bottom: 0.7rem;
}
.quarta__sessao__segunda-div__listas {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
  color: white;
  width: 60%;
}
.quarta__sessao__segunda-div__listas-link {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  border: 3px solid transparent; /* Define a borda como transparente */
  -o-border-image: linear-gradient(to right, #f4855d, #4b0082);
     border-image: linear-gradient(to right, #f4855d, #4b0082); /* Gradiente para a borda */
  border-image-slice: 1; /* Garante que o gradiente cubra toda a borda */
  border-radius: 7px;
  padding: 1.2rem 0.2rem;
}
.quarta__sessao__segunda-div__listas-link-negrito {
  font-weight: 700;
  margin-left: 0.3rem;
}
.quarta__sessao .swiper-pagination {
  position: initial;
  margin: 0.5em 0;
}
.quarta__sessao .swiper-pagination-bullet {
  background-color: white;
}
.quarta__sessao .swiper-slide {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.quarta__sessao .swiper-slide__botao {
  text-decoration: none;
  color: white;
  border: 2px solid linear-gradient(to right, #f4855d, #4b0082);
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 9px;
  background: linear-gradient(to right, #FF7F50, #8A2BE2);
  width: 45%;
}
.quarta__sessao .swiper-button-prev {
  display: none;
}
.quarta__sessao .swiper-button-next {
  display: none;
}

.quinta__sessao {
  margin-bottom: 1rem;
}
.quinta__sessao__dev {
  color: white;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.quinta__sessao__link {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=styles.css.map */