.anydevice {
    margin: 1rem 0 2rem 0;
    &__title {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 2.5rem 0 2rem 0;
    }

    &__image {
        width: 105%;
        height: 100%;
    }

    &__big__title {
        font-size: 1.5rem;
        text-align: start;
        padding-left: 1rem;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
       
        &.jump-kick {
            animation: jump-kick 3s ease-in-out forwards;  /* Aplicar a animação quando a classe 'jump-kick' for adicionada */
        }

        

        @keyframes jump-kick {
            0% {
                transform: translateY(0); /* Posição inicial */
            }
            30% {
                transform: translateY(-70px); /* Salto para cima */
            }
            50% {
                transform: translateY(0) translateX(40px) rotate(20deg); /* Chuta para frente */
            }
            70% {
                transform: translateY(-25px); /* Pequeno salto ao retornar */
            }
            100% {
                transform: translateY(0) translateX(0) rotate(0deg); /* Volta à posição original */
            }
        }
    }

    &__container {
        margin: 2rem 0 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 10%;
        padding-left: 1rem;;
        
        &-items {
            display: flex;
            gap: 0.6rem;
            
            &__text {
                font-size: 0.9rem;
                font-weight: 600;
                text-align: start;
                text-wrap: wrap;
            }
        }

    }

    &__bottom {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-left: 1rem;
        text-decoration: none;
        color: white;
        border: 2px solid linear-gradient(to right, #f4855d, #4b0082);
        padding: 1rem;
        font-family: "Montserrat", sans-serif;
        font-size: 0.9rem;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 9px;
        background: linear-gradient(to right, #FF7F50, #8A2BE2);
        width: 35%;
    }

    &-image {
        width: 73%;
        height: 32%;
        padding-left: 25%;;
    }
}