.cabecalho {
    display: flex;
    margin-left: 3%;
    text-align: center;
    align-items: center;

    &__imagem__logo {
      height: 60px;
      width: 80px;
    }
  
    &__logo {
      display: flex;
      text-align: center;
      align-items: center;
      font-size: 20px;
      text-transform: uppercase;
      gap: 1.1rem;
      color: white;
      display: block;
    }

    &__navbar {
      display: flex;
      margin: 0 22% 0 5%;
      
      &-lista {
        display: none;
        justify-content: space-between;
        gap: 8%;
        text-wrap: nowrap;
        list-style: none;
      }
    
      &__link {
        text-transform: uppercase;
        text-decoration: none;
        color: white;
    
        &:hover {
          color: orange;
        }
      }
    }
  }

  .botoes {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
  }
  
  .botao {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 14px;
    padding: 0.4rem;
  
    &.idioma {
      border-color: transparent;
  
      &:hover {
        border-color: white;
      }
    }
  
    &__entrar {
      font-size: 0.7rem;
      padding: 0.3rem;
      background: rgb(85, 85, 242);
      border-color: rgb(85, 85, 242);
  
      &:hover {
        border-color: white;
        font-size: 1.5rem;
        color: rgb(105, 29, 105);
      }
    }
  }
  
  .bandeira-brasil {
    height: 2rem;
    width: 2rem;
  }
  
  @media screen and (min-width: 0px) and (max-width: 520px) {
    .cabecalho {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__logo {
        display: none;
      }
  
      &__navbar {
        display: flex;
        position: relative;
        gap: 1rem;
        margin: 4% 7% 0 0;
        text-align: center;
        align-items: center;

          &__botoes {
            &__idioma {
              display: none;
            }

            &__entrar {
              font-size: 1rem;
              padding: 0.7rem 0.8rem;
              background: rgb(103, 103, 220);
              border-color: rgb(85, 85, 242);
              text-decoration: none;
              color: white;
              border-radius: 8px;
              text-transform: uppercase;
              font-family: "Montserrat sans,serif";
          
              &:hover {
                border-color: white;
                font-size: 1.5rem;
                color: rgb(105, 29, 105);
              }
            }


          }
  
          &__botao {
              display: none; // Esconde o checkbox
          }
  
          &__rotulo {
              cursor: pointer;
              position: relative;
              z-index: 10;
  
              .cabecalho__navbar__rotulo-menu-humburguer {
                  transition: transform 0.3s ease;
                  display: flex; // Para alinhar os traços corretamente
                  flex-direction: column; // Organiza os traços em coluna
                  gap: 4px; // Espaçamento entre os traços
              }
          }
  
          &-lista {
              display: none; // Esconde a lista inicialmente
              position: absolute; // Posiciona a lista em relação ao seu contêiner pai
              top: 200%; // Distância do topo
              right: 0; // Alinha à direita
              background: #444; // Cor de fundo da lista
              border-radius: 5px; // Bordas arredondadas
              z-index:10000; // Garante que a lista fique abaixo do 'X'

              &-icone {
                display: none;

              }
  
              &__link {
                  color: #fff;
                  text-decoration: none;
                  padding: 0.5rem 1rem; // Mais espaçamento para os links
                  display: block;
  
                  &:hover {
                      background: #555; // Efeito de hover
                  }
              }
          }
  
          // Mostra a lista e transforma o menu-hambúrguer em 'X' ao clicar
          &__botao:checked ~ &-lista {
              display: block; // Exibe a lista
          }
  
          &__botao:checked ~ &__rotulo .cabecalho__navbar__rotulo-menu-humburguer rect:nth-of-type(1) {
              transform: rotate(45deg) translate(5px, 5px); // Rotação do primeiro traço
          }
          &__botao:checked ~ &__rotulo .cabecalho__navbar__rotulo-menu-humburguer rect:nth-of-type(2) {
              display: none; // Esconde o segundo traço
          }
          &__botao:checked ~ &__rotulo .cabecalho__navbar__rotulo-menu-humburguer rect:nth-of-type(3) {
              transform: rotate(-45deg) translate(5px, -5px); // Rotação do terceiro traço
          }
      }
   }
  }
  