@media screen and (min-width: 0px) and (max-width: 520px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    &__logo-image {
        height: 60px;
        width: 80px;
        margin: 1rem 0 0 0.7rem;
    }

    &__logo-text {
        display: none;
    }
  
    &__navbar {
      display: flex;
      position: relative;
      gap: 1rem;
      margin: 4% 7% 0 0;
      text-align: center;
      align-items: center;

        &-buttons {

          &__language {
            display: none;
          }

          &__login {
              font-size: 1rem;
              padding: 0.7rem 0.8rem;
              background: rgb(103, 103, 220);
              border-color: rgb(85, 85, 242);
              text-decoration: none;
              color: white;
              border-radius: 8px;
              text-transform: uppercase;
              font-family: "Montserrat sans,serif";
          
            &:hover {
              border-color: white;
              font-size: 1.1rem;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
  
          &-button {
              display: none; // Esconde o checkbox
          }
  
          &-label {
              cursor: pointer;
              position: relative;
              z-index: 10;
  
              .header__navbar-label__menu-humburguer {
                  transition: transform 0.3s ease;
                  display: flex; // Para alinhar os traços corretamente
                  flex-direction: column; // Organiza os traços em coluna
                  gap: 4px; // Espaçamento entre os traços
              }
          }
  
          &-list {
              display: none; // Esconde a lista inicialmente
              position: absolute; // Posiciona a lista em relação ao seu contêiner pai
              top: 200%; // Distância do topo
              right: 0; // Alinha à direita
              background: #444; // Cor de fundo da lista
              border-radius: 5px; // Bordas arredondadas
              z-index:10000; // Garante que a lista fique abaixo do 'X'

              &__flag {
                display: none;

              }
  
              &__link {
                  color: #fff;
                  text-decoration: none;
                  padding: 0.5rem 1rem; // Mais espaçamento para os links
                  display: block;
  
                  &:hover {
                      background: #555; // Efeito de hover
                  }
              }
          }
  
          // Mostra a lista e transforma o menu-hambúrguer em 'X' ao clicar
          &-button:checked ~ &-list {
              display: block; // Exibe a lista
          }
  
          &-button:checked ~ &__label .header__navbar-label__menu-humburguer rect:nth-of-type(1) {
              transform: rotate(45deg) translate(5px, 5px); // Rotação do primeiro traço
          }
          &-button:checked ~ &__label .header__navbar-label__menu-humburguer rect:nth-of-type(2) {
              display: none; // Esconde o segundo traço
          }
          &-button:checked ~ &__label .header__navbar-label__menu-humburguer rect:nth-of-type(3) {
              transform: rotate(-45deg) translate(5px, -5px); // Rotação do terceiro traço
          }
    }
  }
}

@media screen and (min-width: 520px) and (max-width: 770px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo-image {
        height: 60px;
        width: 80px;
        margin: 1rem 0 0 0.7rem;
    }

    &__logo-text {
        display: none;
    }
  
    &__navbar {
      display: flex;
      position: relative;
      gap: 1rem;
      margin: 4% 7% 0 0;
      text-align: center;
      align-items: center;

        &-buttons {

          &__language {
            display: none;
          }

          &__login {
              font-size: 1rem;
              padding: 0.7rem 0.8rem;
              background: rgb(103, 103, 220);
              border-color: rgb(85, 85, 242);
              text-decoration: none;
              color: white;
              border-radius: 8px;
              text-transform: uppercase;
              font-family: "Montserrat sans,serif";
          
            &:hover {
              border-color: white;
              font-size: 1.1rem;
              font-weight: 700;
              text-transform: uppercase;
            }
          }
        }
  
          &-button {
              display: none; // Esconde o checkbox
          }
  
          &-label {
              cursor: pointer;
              position: relative;
              z-index: 10;
  
              .header__navbar-label__menu-humburguer {
                  transition: transform 0.3s ease;
                  display: flex; // Para alinhar os traços corretamente
                  flex-direction: column; // Organiza os traços em coluna
                  gap: 4px; // Espaçamento entre os traços
              }
          }
  
          &-list {
              display: none; // Esconde a lista inicialmente
              position: absolute; // Posiciona a lista em relação ao seu contêiner pai
              top: 200%; // Distância do topo
              right: 0; // Alinha à direita
              background: #444; // Cor de fundo da lista
              border-radius: 5px; // Bordas arredondadas
              z-index:10000; // Garante que a lista fique abaixo do 'X'

              &__flag {
                display: none;

              }
  
              &__link {
                  color: #fff;
                  text-decoration: none;
                  padding: 0.5rem 1rem; // Mais espaçamento para os links
                  display: block;
  
                  &:hover {
                      background: #555; // Efeito de hover
                  }
              }
          }
  
          // Mostra a lista e transforma o menu-hambúrguer em 'X' ao clicar
          &-button:checked ~ &-list {
              display: block; // Exibe a lista
          }
  
          &-button:checked ~ &__label .header__navbar-label__menu-humburguer rect:nth-of-type(1) {
              transform: rotate(45deg) translate(5px, 5px); // Rotação do primeiro traço
          }
          &-button:checked ~ &__label .header__navbar-label__menu-humburguer rect:nth-of-type(2) {
              display: none; // Esconde o segundo traço
          }
          &-button:checked ~ &__label .header__navbar-label__menu-humburguer rect:nth-of-type(3) {
              transform: rotate(-45deg) translate(5px, -5px); // Rotação do terceiro traço
          }
    }
  }
}

  @media screen and (min-width: 770px) and (max-width: 990px)  {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;  
      margin-left: 3%;
      text-align: center;

      &__logo {
        display: flex;
        align-items: center;

        &-image {
          height: 60px;
          width: 80px;
        }

        &-text {
          text-align: center;
          align-items: center;
          font-size: 20px;
          text-transform: uppercase;
          gap: 0.5rem;
          color: white;
          display: block;
        }
      }
    
      &__navbar {
        margin: 0 4% 0 5%;
        display: flex;
        align-items: center;

        &-buttons {
          display: flex;
          justify-content: space-between;

          &__language {
            display: flex;
            text-align: center;
            align-items: center;
            text-decoration: none;
            color: white;
            border: 1px solid white;
            border-radius: 7px;
            font-size: 0.6rem;
            padding: 0.1rem 0.6rem;
            gap: 0.2rem;

            &-flag {
              height: 2rem;
              width: 2rem;
            }
          }

          &__login {
            display: flex;
            margin-left: 1rem;
            font-size: 1rem;
            padding: 0 1.5rem;;
            background: rgb(85, 85, 242);
            border-color: rgb(85, 85, 242);
            color: white;
            text-decoration: none;
            text-align: center;
            align-items: center;
            border-radius: 10px;
            font-weight: 700;
          }
        }

        &-button {
          display: none;
        }

        &-label {
          margin-left: 1rem;
          cursor: pointer;
          position: relative;
          z-index: 10;

          .header__navbar-label__menu-humburguer {
              transition: transform 0.3s ease;
              display: flex; // Para alinhar os traços corretamente
              flex-direction: column; // Organiza os traços em coluna
              gap: 4px; // Espaçamento entre os traços
          }
        }
        
        &-list {
          display: none; // Esconde a lista inicialmente
          position: absolute; // Posiciona a lista em relação ao seu contêiner pai
          top: 200%; // Distância do topo
          right: 0; // Alinha à direita
          background: #444; // Cor de fundo da lista
          border-radius: 5px; // Bordas arredondadas
          z-index:10000; // Garante que a lista fique abaixo do 'X'
        }
      
        &__link {
          text-transform: uppercase;
          text-decoration: none;
          color: white;
      
          &:hover {
            color: orange;
          }
        }

          // Mostra a lista e transforma o menu-hambúrguer em 'X' ao clicar
        &-button:checked ~ &-list {
          display: block; // Exibe a lista
        }
        
      }
      
    }
    
  }
  
