.cabecalho {
    display: flex;
    margin-left: 3%;
    text-align: center;
    align-items: center;
  
    &__logo {
      display: flex;
      text-align: center;
      align-items: center;
      font-size: 20px;
      text-transform: uppercase;
      gap: 1.1rem;
      color: white;
    }
  }
  
  .navbar {
    display: flex;
    margin: 0 22% 0 5%;
    
    &-lista {
      display: flex;
      justify-content: space-between;
      gap: 8%;
      text-wrap: nowrap;
      list-style: none;
    }
  
    &__link {
      text-transform: uppercase;
      text-decoration: none;
      color: white;
  
      &:hover {
        color: orange;
      }
    }
  }
  
  .imagem__logo {
    height: 60px;
    width: 80px;
  }
  
  .botoes {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1rem;
  }
  
  .botao {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.4rem;
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 14px;
    padding: 0.4rem;
  
    &.idioma {
      border-color: transparent;
  
      &:hover {
        border-color: white;
      }
    }
  
    &.entrar {
      font-size: 0.7rem;
      padding: 0.3rem;
      background: rgb(85, 85, 242);
      border-color: rgb(85, 85, 242);
  
      &:hover {
        border-color: white;
        font-size: 1.5rem;
        color: rgb(105, 29, 105);
      }
    }
  }
  
  .bandeira-brasil {
    height: 2rem;
    width: 2rem;
  }
  
  @media screen and (min-width: 0px) and (max-width: 520px) {
    .cabecalho {
      display: flex;
      text-align: center;
      gap: 8rem;
      margin-top: 1rem;
      align-items: center;
  
      &__logo {
        display: none;
      }
  
      .imagem__logo {
        height: 50px;
        width: 70px;
        display: block;
      }
  
      .entrar {
        display: flex;
        font-size: 1rem;
        width: 4rem;
        justify-content: center;
        border-radius: 8px;
      }
  
      &__menu-humburguer {
        background-image: url("../img/Menu.svg");
        width: 24px;
        height: 24px;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
      }
    }
  
    .navbar {
      display: none;
    }
  
    .idioma {
      display: none;
    }
  }
  