.partners {
    margin-bottom: 1rem;

    &__title {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 2.5rem 0 2rem 0;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas de largura igual */
        grid-template-rows: repeat(4, auto); /* 4 linhas ajustáveis ao conteúdo */
        list-style: none; /* Remove marcadores da lista */
        gap: 0.7rem;
        margin-bottom: 5rem;

        &-image {
            width: 75%;
            height: auto; /* Mantém a proporção */
        }
    }

    &__footer__dropdown-buttons {
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0 0.3rem 0;
       
        width: 100%;  

        &__button {
            display: flex;
            justify-content: space-between;
            font-size: 1rem;
            font-weight: 400;
            background: linear-gradient(to right, rgba(128, 128, 128, 0) 0%, rgba(128, 128, 128, 0.1) 100%); // Gradiente da esquerda para a direita
            color: white; /* Cor do texto */
            border: none; /* Remove a borda padrão */
            padding: 10px 20px; /* Espaçamento interno */
            border-radius: 5px; /* Cantos arredondados */
            cursor: pointer; /* Cursor de mão ao passar o mouse */

            &:hover {
                background: linear-gradient(to right, rgba(128, 128, 128, 0.2) 0%, rgba(128, 128, 128, 0.1) 100%); // Realça o gradiente no hover
            }

            /*setas > */
            &__dropdown-arrow {
                transition: transform 0.3s ease; /* Animação suave da rotação */
            }

            &.active {
                .partners__footer__dropdown-buttons__button__dropdown-arrow {
                  transform: rotate(90deg); /* Rotaciona a seta 90 graus */
                }
            }
        }

        &__dropdown-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: none; /* Escondido por padrão */
            background: linear-gradient(to right, rgba(128, 128, 128, 0.2) 0%, rgba(128, 128, 128, 0.1) 100%); // Realça o gradiente no hover
            text-align: start;

            &__item {
                padding: 10px;

                &__link {
                    text-decoration: none;
                    color: white;
                    font-size: 0.8rem;
                    margin-left: 0.5rem;

                    &:hover {
                        background-color: #ddd;
                    }
                }
            }

            /* Quando a lista for ativa */
            &.active {
                display: block; /* Exibe o dropdown */
            }
        }
    }
}


@media screen and (min-width: 950px) {
    .partners {
        &__title {
            font-size: 2rem;
            font-weight: 700;
            margin: 2.5rem 0 2rem 0;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr); /* 3 colunas de largura igual */
            grid-template-rows: repeat(3, auto); /* 4 linhas ajustáveis ao conteúdo */
            list-style: none; /* Remove marcadores da lista */
            gap: 0.7rem;
            margin-bottom: 5rem;
    
            &-image {
                width: 40%;
                height: auto; /* Mantém a proporção */
            }
        }
    }
}
