.quinta__sessao {
    margin-bottom: 1rem;;
    &__dev {
        color: white;
        font-weight: 700;
        margin-bottom: 0.5rem;;
    }

    &__link {
        text-decoration: none;
        color: white;
    }
}