.section-games-carousel {
    &__title {
        font-size: 1.3rem;
        font-weight: 700;
        margin: 2.5rem 0 2rem 0;
    }

    
    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-bottom: 3rem;
    }
    

    margin-bottom: 2rem;
    align-items: center;

    &__slider {
        overflow: hidden;
        width: 100%; /* Ajuste o tamanho conforme necessário */
        height: 75%; /* Altura do carrossel */
        position: relative;

        &__swipers {
            display: flex;
            width: calc(200%); /* Largura do loop contínuo */
            animation: scroll 22s linear infinite; /* Movimento contínuo */
    
            &__swiper {
                min-width: 50%; /* Cada slide ocupa 50% do carrossel */
                flex-shrink: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                &__image {
                    height: 100%;
                    width: 100%;
                    border-radius: 9px;
                }
            }
        }

        /* Animação para movimento da direita para a esquerda */
        @keyframes scroll-left {
               0% {
                  transform: translateX(0);
               }

               100% {
                  transform: translateX(-440%);
               }
            }

 
              /* Animação para movimento da esquerda para a direita*/
            @keyframes scroll-right {
                0% {
                    transform: translateX(-440%);
                }

                100% {
                    transform: translateX(0);
                }
            }
            
    }

        /* Slider 1: movimento da direita para a esquerda */
    #games-carousel__slider-1 .section-games-carousel__slider__swipers {
        animation: scroll-left 35s linear infinite;
    }

        /* Slider 2: movimento da esquerda para a direita */
    #games-carousel__slider-2 .section-games-carousel__slider__swipers {
        animation: scroll-right 35s linear infinite;
    }

    &__bottom {
        display: flex;
        justify-content: center;
            text-decoration: none;
            color: white;
            border: 2px solid linear-gradient(to right, #f4855d, #4b0082);
            padding: 1rem;
            font-family: "Montserrat", sans-serif;
            font-size: 0.9rem;
            font-weight: 600;
            text-transform: uppercase;
            border-radius: 9px;
            background: linear-gradient(to right, #FF7F50, #8A2BE2);
            width: 45%;
            margin: 0 27.5% 0 27.5%;
    }
}