.terceira__sessao {
     margin: 35% 0 30% 0;
     align-items: center;
     text-align: center;

   &__titulo {
      margin: 4rem 0 5rem 0;
      font-size: 1.3rem;
      font-weight: 700;
      opacity: 0; /* Inicialmente invisível */
      transform: translateY(-20px); /* Posicionado levemente acima */
      transition: opacity 0.8s ease, transform 0.8s ease;
      &.show {
        opacity: 1; /* Visível */
        transform: translateY(0); /* Posição final */
      }
   }

   &-cards{
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 2.5rem;
      gap: 2rem;
     

      &__itens {
        display: flex;
        justify-content: start;
        gap: 1rem;
        text-align: start;
        font-size: 1rem;
        align-items: center;
        padding: 0.5rem;

        &-container {
          display: flex;
          text-align: start;
          flex-direction: column;
        }

        &-imagem {
          display: flex;
          align-items: start;
          width: 17vw;
          height: 12vh;
         
        }

        &__texto {
          font-size: 0.8rem;
          color: gray;
        }
        &__titulo {
          color: white;
          font-weight: 600;
          margin-bottom: 0.7rem;
        }
      }
   }
}

@media screen and (min-width: 520px) and (max-width: 770px) {
  .terceira__sessao {

    &__titulo {
      font-size: 1.4rem;
    }

    &-cards {

      &__itens {

        &-imagem {
          width: 20vw;
          height: 15vh;
        }

        &__titulo {
          font-size: 1.1rem;;
        }

        &__texto {
          font-size: 0.9rem;
        }
      }
    }
  }
}


@media screen and (min-width: 770px) and (max-width: 950px) {
  .terceira__sessao {

    &__titulo {
      font-size: 1.4rem;
    }

    &-cards {

      &__itens {

        &-imagem {
          width: 27vw;
          height: 20vh;
        }

        &__titulo {
          font-size: 1.3rem;;
        }

        &__texto {
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 950px) {
  .terceira__sessao {

    &__titulo {
      font-size: 1.4rem;
    }

    &-cards {
      padding: 1rem 3rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      &__itens {
        padding: 0rem 2rem;
        display: flex;
        flex-direction: column;
        
        &-container {
          display: flex;
          text-align: center;
        }

        &-imagem {
          width: 10vw;
          height: 15vh;
        }

        &__titulo {
          text-wrap: wrap;
          font-size: 1.3rem;;
        }

        &__texto {
          font-size: 1rem;
        }
      }
    }
  }
}


