@media screen and (min-width: 601px) and (max-width: 770px) {
    .wrapper {
       
        .main {
            width: 55vw;
            padding: 4rem 2rem 2rem 2rem;

            &__titles {
                .title {
                    font-size: 1.3rem;
                }
            }

            .inputs {
                .text {
                    font-size: 1.3rem;
                }
            }
        }

        .background {
            width: auto;

            .texts {
                display: flex;
                flex-direction: column;
                margin-top: 35%;
                gap: 1rem;

                .title {
                    font-size: 2rem;
                    padding: 0;
                }

                .text {
                    font-size: 0.9rem;
                    padding: 1rem 1rem 0 0;
                }
            }

            .footer {
                padding: 0;
                margin-top: 10%;
                margin-bottom: 8%;
                flex-direction: column;
                gap: 2rem;
                align-items: flex-start; // <- isso garante o alinhamento à esquerda

                .list {
                    padding: 0;
                    justify-content: start;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 1rem;
                

                    .link {
                        font-size: 0.9rem;

                    }
                }

                .copyright {
                     margin-bottom: 10%;
                     padding: 0;
                     text-align: start;
                     align-items: start;

                    .text {
                        font-size: 0.9rem;
                        text-align: start;
                    }
                }
            }
        }

    }

    .about {
        padding: 0.5rem;
        border-radius: 10px 10px 0 0;
        font-size: 0.9rem;
        width: 25%;
        bottom: 0;
        z-index: 1001;

    }

    .about-panel {
        overflow: scroll;

        .about-content {
            width: 80vw;
            padding: 12rem 0 2rem 0;
            gap: 5rem;
            
            .items {
               .texts {
                padding: 0;
               }
            }

            .close-about {
                margin-bottom: 15%;
                padding: 0.5rem 1rem;
            }
        }
    }
}