body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(29, 21, 29);
    color: white;
    height: 100Vh;
    width: 100vw;
    font-size: 1rem;
    font-weight: 400;
  
  
}