body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: linear-gradient(to right, #16151B, #1A1A24, #1B1E27);*/
    background: linear-gradient(135deg, #000000, #4b0082 50%, #000000 100%);
    color: white;
    min-height: 100vh;
    width: auto;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden; /* Adiciona esta linha para evitar rolagem horizontal */
}

// _root.scss